#about {
    background-color: var(--b-color);
    padding: 200px;
}

#about img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
}

#about img:hover {
    transform: scale(1.2);
}

#wrapper-2 {
    display: flex;
    align-items: center;
    gap: 100px;
    width: auto;
}

@media (max-width: 999px) {

    #about img{
    width: 300px;
}



    #wrapper-2 {
    flex-direction: column;
}


}
