#about {
    background-color: var(--b-color);
    padding: 250px;
}

#about img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease;
}

#about img:hover {
    transform: scale(1.2);
}

#wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px ;
}


