footer {
    background-color: var(--menu-color);
    
}

#wrapper-6 { 
    display: flex;
    align-items: center;
    height: 8vh;
}


#rights {
    margin: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer ul {
    display: flex;
    gap: 20px;
}

footer img{
    width: 20px;
    height: auto;
    object-fit: cover;
}

