footer {
    background-color: var(--menu-color);
    padding: 20px;
}

#wrapper-6 { 
    display: flex;
    justify-content: space-between;
}

footer .col-a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

footer .col-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3{
    margin: 0px;
}

footer ul {
    display: flex;
    gap: 20px;
}

footer img{
    width: 20px;
    height: auto;
    object-fit: cover;
}

#rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
