* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: white;
}

:root {
    --bg-color: #0d0d0d;
    --menu-color: #2b2a2a;
    --a-color: #3C3C3C;
    --b-color: #141414;
    --c-color: #A2A2A2;
    --d-color: #C3C3C3;
    --e-color: #2C2C2C;
    --f-color: hsla(0, 0% ,100%, 0.1); 
    --font-family: "DM Sans", sans-serif;
}

.container {
    padding-inline: 32px;
    margin-inline: auto;
}

li {
    display: list-item;
}

ul {
    list-style: none;
}

.grid {
    display: grid;
}

.grid-col {
    grid-auto-flow: column;
}

.grid-row {
    grid-auto-flow: row;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 40px;
}

.card {
    width: 300;
    height: auto;
}


.card img {
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-vazio {
    display: flex;
    width: 300;
    height: auto;
    padding: 20px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 25px;
    color: var(--c-color);
    font-family: "Press Start 2P", system-ui;
}

@media (max-width: 999px) {

    .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-vazio {
    display: none;
}
    
.logo {
    font-size: 20px;
}

}




