* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: rgb(255, 255, 255);
}

:root {
    --bg-color: #000000;
    --menu-color: rgb(43, 42, 42);
    --text-color-primary: rgb(43, 42, 42); 
    --text-color-seconday: #6C6C6C;
    --font-family: "DM Sans", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/1.5 var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

.container {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: white;
}