* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: white;
}

:root {
    --bg-color: #0d0d0d;
    --menu-color: #2b2a2a;
    --a-color: #3C3C3C;
    --b-color: #141414;
    --c-color: #A2A2A2;
    --d-color: #C3C3C3;
    --font-family: "DM Sans", sans-serif;
}

.container {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: white;
}

.grid {
    display: grid;
}

.grid-col {
    grid-column: auto;
}