#header {
    padding: 250px;
    background-color: var(--bg-color);
}

section h4{
    margin-block: 10px ;
}

section h1{
    margin-block: 10px;
}

section h3 {
    margin-block: 10px;
}

header section button{
    color: white;
    background-color: var(--bg-color);
    border: solid white;
    margin-block: 20px;
    padding: 15px 40px;
}

button:hover {
    background-color: var(--a-color);
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

#mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--c-color);
    margin: 8px;
}
