@import url(global.css);
@import url(header.css);
@import url(nav.css);
@import url(about.css);
@import url(projects.css);
@import url(knowledges.css);
@import url(contacts.css);
@import url(footer.css);