#knowledges {
   background-color: var(--b-color);
   padding: 200px;
}

#knowledges .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#wrapper-4 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



#knowledges .card{
   padding: 28px;
   border-radius: 6px;
   background-color: var(--bg-color);
   box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.267);
   text-align: left;
   transition: 400ms;
}

#knowledges .card:hover {
   background: var(--f-color);
}

#knowledges header{
   display: flex;
   margin: auto;
}








