nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-block: 8px;
    gap: 40px;
    
}

nav img{
    width: 20px;
    height: auto;
    object-fit: cover;
}

nav img:hover {
    border-radius: 20px;
    background-color: var(--bg-color);
}

#nav {
    background-color: var(--menu-color);
    
}

ul a:hover {
    color: var(--bg-color);
}
