nav {
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: var(--menu-color);
}

#primary-menu {
    display: flex;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav img{
    width: 20px;
    height: auto;
    object-fit: cover;
}

nav ul a:hover {
    color: var(--c-color);
    font-weight: bold;
}


img[src="assets/linkedinlogo.png"]:hover {
    transform: scale(1.2);
    filter: invert(34%) sepia(92%) saturate(2738%) hue-rotate(180deg) brightness(94%) contrast(101%);
}

img[src="assets/github-mark-white.svg"]:hover {
    transform: scale(1.2);
}

img[src="assets/instagramlogo.png"]:hover {
    transform: scale(1.2);
    background-image: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    border-radius: 4px;
}

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    #primary-menu{
        display: none;
    }

    .social-media li{
        display: none;
    }

    #mobile-menu {
        display: block;
        background-color: white;
    }

    .list-menu {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--menu-color);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .list-menu li {
        margin-left: 0;
        opacity: 0;
    }
}

.list-menu.active {
    transform: translateX(0);
}
