#projects {
    background-color: var(--bg-color);
    padding: 250px;
}
#sectionprojects {
    display: flex;
    justify-content: center;
    
}

#wrapper-3 {
    display: flex;
    justify-content: center;
}


.card {
    width: 300;
    height: auto;
    border: solid #252525;
    padding: 20px;
}


.card img {
    width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

