#projects {
    background-color: var(--bg-color);
    padding: 100px;
}

#wrapper-3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#projects header{
    display: flex;
    margin: auto;
}

#projects .card{
    padding: 40px;
    margin: auto;
    border-radius: 6px;
    background-color: var(--b-color);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.267);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    transition: 400ms;
}

#projects .card:hover {
   background: var(--f-color);
}

#projects img{
    border-radius: 10px;
}




